<h2>Root View of Reunion</h2>
<p> This page will have an introductory page to my app with button links to Contacts, Admin and Event features.

</p>

<ul>
	<li>
		<%= link_to "contacts", contacts_path %>
		<%= link_to "events", events_path %>
	</li>
</ul>



